/* color palette */

:root {
--bol-lightblue: #45ABEA;
--bol-blue: #47ADF1;
--bol-lightgreen: #64C0A9;
--bol-purple: #9C72E4;
--bol-green: #B0C926;
--bol-pink: #D863A1;
-bol-orange: #F29E33;
--bol-lightgrey: #F6F8F9;
--bol-grey: #444851;
--bol-borderbox-grey: #c5cbd0;


}

/* common rules */

*{
    box-sizing: border-box;
}

.logo, .logotipo{
    vertical-align: middle;
}

main {
    padding-top: 1em;
}

#site_main, #site_footer {
    background-color: var(--bol-lightgrey);
}

button {
    border: 1px solid;
    border-radius: 0.25em;
    padding: 0.5em 1em;
}

/* header */

.logotipo {
    font-size: 3em;
}

/* comtainer */

.container1 {
        background-color: white;
        width: 70%;
        margin: auto;
        border-radius:0.15em 0.15em 0 0;
        padding: 1em;
        border-bottom: 2px solid var(--bol-lightgrey);
       
}
.container2 {
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius:0 0 0.15em 0.15em;
    padding: 1em;
}


/* add task +section */

.task {
    background-color: var(--bol-blue);
    color: white;
    border-color: var(--bol-blue);  
}

.add_section {
    border-color: var(--bol-borderbox-grey);
    color: var(--bol-borderbox-grey);
    background-color: white;
}


/* tasklist */
