/* color palette */

:root {
--bol-lightblue: #45ABEA;
--bol-blue: #47ADF1;
--bol-lightgreen: #64C0A9;
--bol-purple: #9C72E4;
--bol-green: #B0C926;
--bol-pink: #D863A1;
--bol-orange: #F29E33;
--bol-lightgrey: #F6F8F9;
--bol-grey: #444851;
--bol-borderbox-grey: #c5cbd0;
--bol-text: #51545D;
--bol-icongreen: #68C1AB;
--bol-icomred: #EA453B;
}

/* common rules */

*{
    font-family: 'Arial',  sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo, .logotipo{
    vertical-align: middle;
}

main {
    padding-top: 1em;
}

#site_main, #site_footer {
    background-color: var(--bol-lightgrey);
}

.container1, .container2 {
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 1em;
}

button {
    border: 1px solid;
    border-radius: 0.25em;
    padding: 0.5em 1em;
}

.todo {
    color: var(--bol-text);
}

.icon {
    display: inline-block;
    border: 1px solid;
    font-size: 0.8em;
    height: 1.5em;
    width: 1.5em;
    padding: 0.10em;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
}

h2 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

span {
    margin-bottom: 00.25em;
}

.box {
    color: white;
    font-size: 0.6em;
    font-weight: lighter;
    padding: 0.25em 1em;
    border-radius: 1em;   
}

/* header */
.logotipo {
    font-size: 3em;
    font-weight: bold;
}

/* comtainer */
.container1 {
    border-radius:0.15em 0.15em 0 0;
    border-bottom: 2px solid var(--bol-lightgrey);      
}

.container2 {
    border-radius:0 0 0.15em 0.15em;
}

/* add task +section */
.task {
    background-color: var(--bol-blue);
    color: white;
    border-color: var(--bol-blue);  
}

.add_section {
    border-color: var(--bol-borderbox-grey);
    color: var(--bol-borderbox-grey);
    background-color: white;
}

/* icon color */
.green {
    color: var(--bol-icongreen)
}

.red {
    color: var(--bol-icomred)
}

/* box color */
.editorial {
    background-color: var(--bol-lightblue);
}

.goals { 
    background-color: var(--bol-purple);
}

.recruting {
    background-color: var(--bol-lightgreen);
}

.mobile {
    background-color: var(--bol-orange);
}

.website {
    background-color: var(--bol-pink);
}

.sales {
    background-color: var(--bol-green);
}